src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig*.json
**/eslint.config.mjs
**/*.ts
**/.vscode-test.*
**/node_modules/**
**/.vscode/**
**/.git/**
**/src/**
**/npm-debug.log
**/yarn.lock
**/pnpm-lock.yaml
**/package-lock.json
**/.DS_Store

# build/packaging scripts, tests 제외
scripts/**
out/test/**
**/*.test.js
**/*.spec.js

# 개발 문서/설정
.vscode/**
.vscode-test/**
**/*.map

**/*.svg
**/.vscode-test/**
*.vsix
.DS_Store

media/monaco/**