.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig*.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/node_modules/**
**/.vscode/**
**/.git/**
**/src/**
**/npm-debug.log
**/yarn.lock
**/pnpm-lock.yaml
**/package-lock.json
**/.DS_Store
